.cards-container {
  width: 1024px;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

@media only screen and (max-width: 768px) {
  .cards-container {
    grid-template-columns: 1fr;
    width: 100%;
  }
}

.card {
  border-radius: 2rem;
}

@media only screen and (max-width: 768px) {
  .card {
    margin: 0 1rem;
  }
}

.card .header {
  height: 30px;
  text-transform: uppercase;
  padding-top: 10px;
  text-align: center;
  border-bottom: 1px solid #b8d2e6;
  font-size: 15px;
}

.card .body {
  padding: 1rem;
}


.image {
  width: 100px;
  border-radius: 1rem;
  cursor: pointer;
}