.card-container {
  width: 1024px;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.card {
  background-color: aliceblue;
}

.card .header {
  height: 30px;
  background-color: aqua;
  text-transform: uppercase;
  padding-top: 10px;
  text-align: center;
}

.card .body {
  height: 100px;
  background-color: antiquewhite;
  padding: 2px 5px;
}
