.card-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.card {
  width: 300px;
  height: 150x;
  background-color: aliceblue;
}

.card .header {
  height: 30px;
  background-color: aqua;
  text-transform: uppercase;
  padding-top: 10px;
  text-align: center;
}

.card .body {
  height: 100px;
  background-color: antiquewhite;
  padding: 2px 5px;
}
